h1 {
  text-align: center;
}

#container {
  margin: 0 auto;
  width: 960px;
}

.time-column {
  width: 310px;
  display: inline-block;
  margin: 0;
}

.time-column h4 {
  text-align: center;
}

.time-holder {
  width: 300px;
  height: 480px;
  border: 2px double black;
}